# posicion en el eje Z del endeffector cuando el rotulador esta sobre el papel
#Z_PEN_DOWN
1.048

# posicion en el eje Z del endeffector cuando el rotulador esta levantado
#Z_PEN_UP
1.2

# diferencia de posicion en el eje Y entre el endeffector y la punta del rotulador
#CORRECT_Y
-0.113

# diferencia de posicion en el eje X entre el endeffector y la punta del rotulador
#CORRECT_X
0.04

# diferencia de posicion en el eje Z entre el endeffector y la punta del rotulador
#CORRECT_Z
0.286

# posicion (esquina superior izquierda) y tamanyo del lienzo
#BOARD_X
-0.47

#BOARD_Y
-0.21

#BOARD_Z
0.79

#W_BOARD
0.42

#H_BOARD
0.297
