# posicion en el eje Z del endeffector cuando el rotulador esta sobre el papel
#Z_PEN_DOWN
1.048

# posicion en el eje Z del endeffector cuando el rotulador esta levantado
#Z_PEN_UP
1.078

# diferencia de posicion en el eje Y entre el endeffector y el rotulador
#CORRECT_Y
-0.13

# diferencia de posicion en el eje X entre el endeffector y el rotulador
#CORRECT_X
0.03

# posicion (esquina superior izquierda) y tamanyo del lienzo
#BOARD_X
-0.47

#BOARD_Y
-0.21

#BOARD_Z
0.79

#W_BOARD
0.42

#H_BOARD
0.297

# puntos reales o respecto a un board #REAL_PTS #BOARD_PTS
#REAL_PTS
