# posicion en el eje Z del end-effector cuando el rotulador esta sobre el papel
*Z_PEN_DOWN
1.048

# posicion en el eje Z del end-effector cuando el rotulador esta levantado
*Z_PEN_UP
1.2

# diferencia de posicion en el eje Y entre el end-effector y la punta del rotulador
*CORRECT_Y
-0.129

# diferencia de posicion en el eje X entre el end-effector y la punta del rotulador
*CORRECT_X
0.0435

# diferencia de posicion en el eje Z entre el end-effector y la punta del rotulador
*CORRECT_Z
0.264

# posicion(esquina con menor x e y) y tamaño del lienzo
*BOARD_X
-0.47

*BOARD_Y
-0.21

*BOARD_Z
0.785

*W_BOARD
0.42

*H_BOARD
0.297
