<?xml version="1.0"?>
<launch>
<!--Load Scene from file-->
  <arg name="scene_file" default="$(find campero_ur10_description)/config/ws_walls.scene"/> 
  <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
</launch>