<?xml version="1.0"?>
<robot name="campero" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  
  <xacro:include filename="$(find campero_description)/urdf/bases/campero_base.gazebo.xacro" />

  <xacro:macro name="campero_base" params="prefix publish_bf hq">

	  <!-- Robot mechanical and motor parameters -->
	  <xacro:property name="PI" value="3.1415926535897931"/>

		<xacro:macro name="box_inertia" params="m x y z">
			<inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
								iyy="${m*(x*x+z*z)/12}" iyz = "0"
								izz="${m*(x*x+y*y)/12}" /> 
		</xacro:macro>

	  <!-- BASE FOOTPRINT -->
	  <xacro:if value="${publish_bf}">
		<link name="${prefix}base_footprint">
		  <visual>
			  <origin xyz="0 0 0" rpy="0 0 0" />
			  <geometry>
				 <box size="0.001 0.001 0.001" />
			  </geometry>
		  </visual>
		</link>

		<joint name="${prefix}base_footprint_joint" type="fixed">
		  <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" /> <!-- ${wheel_radius} property must be defined inside wheel description -->
		  <parent link="${prefix}base_footprint"/>
		  <child link="${prefix}base_link" />
		</joint>    
	  </xacro:if>

	  <!-- BASE_LINK -->
	  <link name="${prefix}base_link">
		<inertial>
		  <mass value="150.0" />
		  <origin xyz="0 0 0" />
			<box_inertia m="150" x="0.6" y="0.6" z="0.5"/>
		  <!--inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" /-->
		</inertial>
		<visual>
		   <origin xyz="0 0 0" rpy="0 0 0" />
		   <xacro:if value="${hq}">
		   <geometry>
			 <mesh filename="package://campero_description/meshes/bases/campero_chasis.stl"/>
		   </geometry>
		   </xacro:if>
		   <xacro:unless value="${hq}">
		   <geometry>
			 <mesh filename="package://campero_description/meshes/bases/campero_chasis.stl"/>
		   </geometry>
		   </xacro:unless>
		   <material name="darkgrey">
			 <color rgba="0.1 0.1 0.1 1"/>
		   </material>
		</visual>  
		<collision>
		   <origin xyz="0 0 0" rpy="0 0 0 " />
		   <geometry>
			 <mesh filename="package://campero_description/meshes/bases/campero_chasis.stl"/>
		   </geometry>
		</collision>     
	  </link>

		<!-- DOCKING CONTACTS -->
		<joint name="${prefix}base_docking_joint" type="fixed">
			<origin xyz="0.284 0.012 0.068" rpy="0 0 0 " />
			<parent link="${prefix}base_link"/>
			<child link="${prefix}base_docking_contact_link" />
		</joint>    

		<!-- DOCKING LINK -->
		<link name="${prefix}base_docking_contact_link" />

  </xacro:macro>
</robot>


