<launch>

  <arg name="debug" default="false" />
  <arg name="mode" default="_" />
  <!--arg name="fWS" default="/home/nacho8/ROS_workspaces/campero_ur10_ws/src/campero_ur10_test/param_files/ws.config"/-->

  <!-- GDB Debug Option -->
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
     value="gdb -x $(find ur10_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

  <node name="campero_ur10_test" pkg="campero_ur10_test"
      type="campero_ur10_test" respawn="false" launch-prefix="$(arg launch_prefix)"
      output="screen"
      args="-m $(arg mode)">
      <!--args="-fws $(arg fWS)"-->
  </node>

</launch>
