<launch>
  <arg name="cam_frame" default="camera_color_optical_frame"/>
  <arg name="cam_ref_frame" default="campero_base_footprint"/>
  <arg name="robot_frame" default="campero_base_footprint"/>

  <arg name="max_dist_error" default="7"/> <!-- distancia de error maximo en pixeles entre el punto real y el punto en la img-->
  <arg name="contour_method" default="0"/>
  <arg name="min_contour_size" default="60"/>
  <arg name="apply_concaveman" default="true"/>
  <arg name="concaveman_alpha" default="1.0"/>
  <arg name="apply_sharp" default="false"/>
  <arg name="conectivity_way" default="8"/>
  <arg name="number_iterations" default="9"/>
  <arg name="apply_smooth_path" default="true"/>
  <arg name="smooth_path_kernel" default="11"/>

  <arg name="blur_ksize" default="0"/>
  <arg name="erode_type" default="0"/>
  <arg name="erode_size" default="3"/>
  <arg name="dilate_type" default="0"/>
  <arg name="dilate_size" default="3"/>

  <node name="image_inpainting" pkg="image_inpainting"
      type="image_inpainting" respawn="false"
      output="screen">
      <param name="camera_frame"       value="$(arg cam_frame)"/>
      <param name="cam_ref_frame"    value="$(arg robot_frame)"/>
      <param name="robot_frame"       value="$(arg robot_frame)"/>
      
      <param name="max_dist_error"       value="$(arg max_dist_error)"/>
      <param name="contour_method"       value="$(arg contour_method)"/>
      <param name="min_contour_size"       value="$(arg min_contour_size)"/>
      <param name="apply_concaveman"       value="$(arg apply_concaveman)"/>
      <param name="concaveman_alpha"       value="$(arg concaveman_alpha)"/>
      <param name="apply_sharp"       value="$(arg apply_sharp)"/>
      <param name="conectivity_way"       value="$(arg conectivity_way)"/>
      <param name="number_iterations"       value="$(arg number_iterations)"/>
      <param name="apply_smooth_path"       value="$(arg apply_smooth_path)"/>
      <param name="smooth_path_kernel"       value="$(arg smooth_path_kernel)"/>
      
      <param name="blur_ksize"       value="$(arg blur_ksize)"/>
      <param name="erode_type"       value="$(arg erode_type)"/>
      <param name="erode_size"       value="$(arg erode_size)"/>
      <param name="dilate_type"       value="$(arg dilate_type)"/>
      <param name="dilate_size"       value="$(arg dilate_size)"/>
  </node>

</launch>
