<launch>
  <!--node name="test_edges" pkg="image_inpainting"
      type="test_edges"
      output="screen">
  </node-->

  <arg name="img" default="" />
  <arg name="alpha" default="0.5" />

  <node name="test_pcl" pkg="image_inpainting"
      type="test_pcl"
      output="screen"
      args="$(arg img) $(arg alpha)">
  </node>

</launch>
