<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="robotiq_model_s_transmission" params="prefix">
		
		<!--Palm transmission -->
		<transmission name="${prefix}palm_transmission_1">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}palm_finger_1_joint" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}palm_motor_1">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}palm_transmission_2">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}palm_finger_2_joint" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}palm_motor_2">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<!--Middle finger transmission -->
		<transmission name="${prefix}finger_middle_transmission_1">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_middle_joint_1" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_middle_motor_1">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}finger_middle_transmission_2">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_middle_joint_2" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_middle_motor_2">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}finger_middle_transmission_3">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_middle_joint_3" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_middle_motor_3">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<!-- finger 1 transmission -->
		<transmission name="${prefix}finger_1_transmission_1">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_1_joint_1" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_1_motor_1">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}finger_1_transmission_2">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_1_joint_2" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_1_motor_2">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}finger_1_transmission_3">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_1_joint_3" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_1_motor_3">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<!-- finger 2 transmission -->
		<transmission name="${prefix}finger_2_transmission_1">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_2_joint_1" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_2_motor_1">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}finger_2_transmission_2">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_2_joint_2" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_2_motor_2">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
		<transmission name="${prefix}finger_2_transmission_3">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${prefix}finger_2_joint_3" >
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
			</joint>
			<actuator name="${prefix}finger_2_motor_3">
				<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>
	</xacro:macro>

</robot>

